h1 {
    color: rgb(93, 93, 192);
    text-align: center;
    border: 5px;
    background-color: aqua;
    
}
.highlight {
    background-color: rgb(33, 199, 33);
    text-align: center;
    border-radius: 3px;

}

 .error {
    background-color: lightcoral;
    border-color: red;
}